 /* Custom CSS for Navbar */
 .navbar {
  background-color: #e4e7e9; /* Blue background */
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #716f6f; 
  font-weight: bold;
  font-size: 37px;
  font-family:cursive;
}

.navbar-nav .nav-link {
  color: #f19696; 
  font-weight: bold;
  transition: 0.3s; 
  margin-right: 100px;
  
}


.navbar-nav .nav-link:hover {
  color: #ee6666; 
}

.navbar-toggler {
  border-color: #ffffff; 
}

.navbar-toggler-icon {
  background-color: #ffffff; /* White icon */
}


/* Custom Styles */
.hero {
    background-image: url('/CRM.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 250px 0;
    text-align: right;    
  
  }
  
  .features {
    background-color: #f8f9fa;
    padding: 100px 0;
  }
  
  .feature-item {
    margin-bottom: 30px;
    margin-top: 100px;
  }
  .fec{
    font-family: cursive;
    font-size: 80px;
    text-align: center;
  }
  
  .feature-item i {
    font-size: 3rem;
    color: #007bff;
  }
  
  .feature-item h3 {
    margin-top: 20px;
  }

/* .conteiner1 {
  margin-left: 10px;
} */


.conteiner1 img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Ensures responsiveness */
@media only screen and (max-width: 600px) {
  .conteiner1 {
    margin-left: 0;
  }
}


.conteiner0{
  margin-left: 300px;
}

.conteiner0 img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  .conteiner0 {
    margin-left: 0;
  }
}

.conteiner3{
  margin-left: 160px;
}

.conteiner3 img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  .conteiner3 {
    margin-left: 0;
  }
}


.dashimg img {
  width: 100%;
  height: auto;
}


.container2 {
  text-align: center; 
  padding: 20px; 
  font-family: cursive;
  font-weight: bolder;
  font-size: 60px;

}

/* Styles for heading */
.container2 h2 {
  font-family: cursive;
  /* padding: 0 40px;  */
  font-size: 44px; 
  margin-bottom: 30px;
  margin-top: 100px; 
}
.span{
  font-size: 26px;
  font-weight: bold;
}
.fa-regular{
  color: #6EB981;
}
.para{
  margin-bottom: 100px;
  text-align: center;
  font-size: 20px;
  
}
.container3{
  text-align: center; 
  padding: 20px; 
  font-family: cursive;
  font-weight: bolder;
  font-size: 60px;
  margin-top: 120px;

}
.para3{
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 20px;
}
/* .img1 {
  margin-left: 400px;
} */


/* Styles for paragraph */
/* section div:last-child {
  padding: 0 300px; 
  text-align: center;
  font-size: 20px;
} */

/* Ensures responsiveness */
@media only screen and (max-width: 600px) {
  .container2 {
    padding: 10px;
  }
}

.head{
  font-family: cursive;
  font-weight: bolder;
}
  


  .pricing {
    background-color: #b0d2db7f;
    color: #0a0a0a;
    padding: 100px 0;
    margin-top: 150px;
  }
  .heading{
    text-align: center;
    font-size: 70px;
    font-family: cursive;
    margin-bottom: 50px;
  }
  
  .card {
    background-color: #c8d2d7;
    border: none;
  }
  
  .card-title {
    color: #0a0909;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-price {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .btn-primary{
    background-color: #f19696;
    border-color: #0a0909;
  }
  
  .period {
    font-size: 1rem;
  }
  
  .contact {
    padding: 100px 0;
    font-size: 20px;
  }
  .head-contact{
    font-family: cursive;
    text-align: center;
    font-size: 60px;
  }
  .btn-success{
    font-size: 20px;
    margin-left: 40%;
    padding: 10px 60px 10px 60px;
  }


  
  /* .footer {
    background-color: #343a40;
    color: #fff;
  }
  
  .footer span {
    font-size: 0.9rem;
  } */


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Montserrat', sans-serif;
    }

    .main-footer {
      padding: 70px 0;
      display: flex;
      justify-content: space-evenly;
      background-color: #95959abe;
    }

    .main-footer ul {
      list-style: none;
    }

    .main-footer h1 {
      font-size: 22px;
      line-height: 117%;
      color: #000000;
      margin-bottom: 10px;
      font-weight: 500;
      font-weight: bold;
    }

    .main-footer h2 {
      color: #3e3b3b;
      font-weight:bolder;
      font-size: 50px;
      font-family: cursive;
    }

    .main-footer ul li a {
      color: #212020cc;
      text-decoration: none;
      font-size: 17px;
      font-weight: bold;
    }
    

    footer {
      background-color: #38373a;
      border-top: 1px solid #414244;
      font-size: 17px;
      padding: 15px 5px;
      color: #ffffff;
      text-align: center;
    }

    footer a {
      text-decoration: none;
      color: #5c5858;
    }

    .logoinfo p {
      color: #6EB981;
      font-size: 17px;
      margin-top: 5px;
    }

    .contact-details {
      margin-top: 20px;
    }

    .contact-details li {
      list-style: none;
      margin: 10px 0;
    }

    .contact-details li a {
      text-decoration: none;
      color: #f1f1f1;
    }

    .contact-details .fa {
      color: #f1f1f1;
      margin-right: 10px;
    }

    .sociallogos {
      padding: 20px 0;
    }

    .sociallogos .logobox a {
      padding: 0 10px;
      text-decoration: none;
      color: #ffffff;
      font-size: 22px;
    }

    .com ul li {
      padding: 5px 0;
    }

    @media only screen and (max-width: 749px) {
      .main-footer {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .info {
        padding: 20px 0;
      }
    }

    @media (max-width: 480px) {
      .main-footer {
        grid-template-columns: 1fr;
      }

      .sociallogos {
        padding: 20px 0;
      }

      .com {
        padding: 20px 0;
      }

    }
  
